@model SalesWebMVC.Models.Seller;

@{
    ViewData["Title"] = "Details";
}

<h2 style="margin-top: 50px">@ViewData["Title"] </h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>

    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-primary" style="margin-left: 10px;" asp-action="Index">Back</a>
    </div>
</div>
